.DiaHoy /*cambia de color y redondea los border de la celda donde se encuentra este ID*/
{
    background-color: #0040FF;
    color: #F2F2F2;
    border-radius: 15px; 
}

#Year
{
    background-color: #6DB0DE;
    color: #FFF;
    font-size: large;
    height: 30px;
}
#Mes /*cambiamos el color del td que muestra que mes es actualmente*/
{
      background-color: #6DB0DE;
      color: #FFF;
      border-radius: 15px;
}

#Calendario /*Cmabiomos propiedades de la tabla CALENDARIO*/
{
    text-align: center;
    border:0;
    width: 100%;
}

.BotonCalendario /*Cambios el aspecto del los botones del calendario}*/
{
    alignment-adjust: central;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    background:#6DB0DE;
    color:#FFF;
    border-radius:15px;
    width:23px;
    height:20px;
}

/*-------------------------------------------------------CSS PARA LOS DIA DE LA SEMANA---------------------------------*/
.DiaSemana
{
    width: 14%; /* PONEMOS UN ANCHO FIJO PARA CADA COLUMNA DE LOS DIAS*/
    font-weight: bold;
}

