#TablaEventos
{
   text-align: center;
   width: 100%;

}
.TablaFooter
{
   margin: auto;
}

#linea
{
    color: #58ACFA;
}

.BotonVerDetalles
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #FFF;
	background-color: #58ACFA;	
    width: 100px;
    height: 20px;
}

.BotonVerDetalles:hover
{
    border-radius: 10px;
    border-color:  #58ACFA;
	padding: 5px;
	font-family: Comic Sans MS;
	color:  #58ACFA;
	background-color: #fff;	
    width: 100px;
    height: 20px;
}

.BotonEliminar
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #FFF;
	background-color: #DF0101;	
    width: 100px;
}

.BotonEliminar:hover
{
    border-radius: 10px;
    border-color:  #DF0101;
	padding: 5px;
	font-family: Comic Sans MS;
	color:  #DF0101;
	background-color: #fff;	
    width: 100px;
}

.BotonEditar
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #FFF;
	background-color: #0040FF;	
    width: 100px;
}

.BotonEditar:hover
{
    border-radius: 10px;
    border-color:  #0040FF;
	padding: 5px;
	font-family: Comic Sans MS;
	color:  #0040FF;
	background-color: #fff;	
    width: 100px;
}
