/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:fixed;
  z-index:9000;
  background-color:#000;
  display:none;
  left:-1px;
  top:-50px;
}
  
#boxes .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}


/* Aqui se modificara la ventana modal al gusto */


/*Modifico el boton cerrar*/
#boxes .close
{
    border: none;
    background-color: skyblue; 
    color: white;    
}

/*Modifico el cuadro donde se mostrara el texto*/
#boxes #dialog {
  width:375px; 
  height:260px;
  background-color: white;
  border-radius: 25px;

}

/*Modifico el div donde se encuentra el boto0n cerrar*/
#boxes #botonCerrar
{
    text-align: center;
    float: right; 
    margin-top: -30px; 
    width: 25px;
    height: 25px; 
    border: 5px; 
    z-index:10; 
    position: absolute; 
    left: 90%;
    border-radius: 25px; 
    border-style: double; 
    border-color: skyblue; 
    background-color: skyblue;  
}
