.actas_form h2 {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    color: #660477;
    display: block;
    font-family: Century Gothic;
    font-size: 25px;
    padding: 5px;
    text-shadow: 1px 1px 1px #FFFFFF;
    width: 100%;
}
/*— estilos para los p, h4, ul , label y li del formulario —*/
.actas_form ul {
    width:100%;
    list-style-type:none;
margin:0px;
padding:0px;
}
.actas_form li{
font-family: Century Gothic;
padding:12px;
border-bottom:1px solid #eee;
position:relative;
text-align:justify;
}
.actas_form p{
  font-family: Century Gothic;
  padding:12px;
  border-bottom:1px solid #eee;
  position:relative;
  text-align:justify;
}

.actas_form h4{
  font-family: Century Gothic;
  padding:12px;
  border-bottom:1px solid #eee;
  position:relative;
}

.actas_form label {
    color: #00000;
    display: inline-block;
    float: left;
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 130px;
}
.actas_form input {
height:23px;
width:200px;
padding:5px 8px;
}
.actas_form textarea {
padding:8px;
width:95%;
}


/*—– estilos visuales de los elementos ——–*/

.actas_form input, .actas_form textarea {
border:1px solid #aaa;
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
border-radius:2px;
color: #888;
font-size: 12px;
padding-right:30px;
-moz-transition: padding .25s;
-webkit-transition: padding .25s;
-o-transition: padding .25s;
transition: padding .25s;
}

.actas_formform input:focus, .actas_form textarea:focus {
background: #fff;
border:1px solid #555;
box-shadow: 0 0 3px #aaa;
padding-right:80px;
}

/* === Estilos de Validacion === */

.actas_form input:required:valid, .actas_form textarea:required:valid {
box-shadow: 0 0 5px #5cd053;
border-color: #28921f;
}
.actas_form input:focus:invalid, .actas_form textarea:focus:invalid {
box-shadow: 0 0 5px #d45252;
border-color: #b03535
}
