#divTipos {
	width: 15%;	
	padding-top: 20px;
	/*border-color: blue;
	border-width: 5px;
	border-style: solid;*/
	float: left;
	margin-left: 15px;
}

#divAreas{
	width: 15%;	
	padding-top: 20px;
	
	/*border-color: blue;
	border-width: 5px;
	border-style: solid;*/
	float: left;
	margin-left: 15px;
}

#divSedes{
	width: 15%;	
	padding-top: 20px;
	
	/*border-color: blue;
	border-width: 5px;
	border-style: solid;*/
	float: left;
	margin-left: 15px;
	margin-top: 3px;
}

#A,#T{
   padding-top: 10px;
}

#S{
   padding-top: 7px;
}

#divGeneral {
	margin-top: 26px;
	margin-left: 15px;
}
