*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.PDF-Cuadro{
    width: 100%;
    margin: auto;
    font-size: 11px;
}

body {
	font-family: DejaVuSansCondensed;
}

.PDF-Cuadro table thead{ color: #0D47A1; }
.PDF-Cuadro table thead tr.primaria{ background: #0D47A1; }
.PDF-Cuadro table thead tr{ background: #1565C0; }

.logo_cont h2{
    margin-top: -55px;
	margin-left: 110px;
	color: #0D47A1;
}

.logo{ height: 90px; }
.PDF_header .title{ position: relative; }

.PDF_header .title h3 {
    text-align: center;
    position: relative;
}
/* hr.style-two { 
    border: 0; 
    height: 0.5px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
} */

ul.datos{ list-style: none; }
ul{padding: 0px;}
ul ul{padding-left: 25px;}
ul li{margin-top: 4px;}
ul ul li{margin-top: 0px;}
td.select{ background: rgb(172, 191, 204); }

table tfoot tr td:nth-child(2), table tfoot tr td:nth-child(1){
    background: #1565C0;
    color: #fff;
}

table.staff td{
    padding: 3px;
    border: none;
}

table.staff tbody td.firm{
    border-bottom: 1px solid black;
    height: 50px;
}

table.staff tfoot tr:nth-child(2), table.staff tfoot tr td:nth-child(1){
    background: none;
    color: #000;
}

table {
	font-family: DejaVuSansCondensed;
	border-collapse: collapse;
	vertical-align: middle;
    width: 100%;
    font-size: 11px;
}

th {
	font-weight: bold; 
	vertical-align: center;
	text-align: center;
	font-size: 11px;
	padding: 3px;
	vertical-align: middle;
	background: #1976D2;
    color: #fff;
    border: 1px solid black;
}

td{
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
    padding: 4px;
    border: 1px solid black;
}
