@import "./_color.scss"
@import "./_variables.scss"
@import "./_modal.sass"
@import "./_toast.sass"

$primary_c: #1D2671
$secondary_c: #C33764

*
	// font-family: Lato
	margin: 0
	padding: 0
	box-sizing: border-box

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow])
	color: transparent


.center
	text-align: center

h1, h2, h3, h4, h5, h6
	color: $primary-color
	&.sub
		color: $secondary-color
	&.error
		padding: 20px 10px
		color: color('red', 'darken-2')

.button
	flex: 1 1 auto
	padding: 20px
	border: 1px solid #f7f7f7
	color: white
	text-align: center
	text-transform: uppercase
	position: relative
	overflow: hidden
	transition: .3s
	&:after
		position: absolute
		transition: .3s
		content: ''
		width: 0
		bottom: 0
		left: 50%
		bottom: 0
		height: 3px
	&:hover
		cursor: pointer
	&.skew-fill
		&:after
			background: -webkit-linear-gradient(to right, $primary-color, $secondary-color)
			background: linear-gradient(to right, $primary-color, $secondary-color)
			height: 120%
			left: -10%
			-webkit-transform: skewX(15deg)
			transform: skewX(15deg)
			z-index: -1
		&:hover
			&:after
				width: 100%
				left: 0
				left: -10%
				width: 120%
	&.left-right
		&:after
			background: -webkit-linear-gradient(to right, $primary-color, $secondary-color)
			background: linear-gradient(to right, $primary-color, $secondary-color)
			left: 0
		&:hover
			&:after
				width: 100%
				left: 0

#_background
	z-index: 999
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	display: none
	opacity: 0
	background: rgba(#000, 0.8)
	&.active
		display: block
		opacity: 1

.btn
	background: $primary-color
	font-size: 18px
	// display: inline-block
	color: #fff
	padding: 10px 16px
	cursor: pointer
	transition: background .2s ease
	border: none
	&:hover
		background: darken($primary-color, 15%)
