.MiForm
{
    width: 100%;  
}


.boton
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #FFF;
	background-color: #78bbe6;	
    width: 100px;
}
.Etiqueta
{
    margin-left: 100px;
}
.CampoText
{
    width: 200px;
    margin-left: -50px;
}

.boton:hover
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #78bbe6;
	background-color: #fff;	
    width: 100px;
}