.MiForm
{
    font: 20px Comic Sans MS,sans-serif;
    text-align: center;
    
}

.TDDerecha
{
    text-align: right;
    width: 40%;    
}


.TDIzquierda
{
    padding-left: 20px;
    color: red;
    text-align: left;    
}

.TDIzquierdaSimple
{
    padding-left: 20px;
    text-align: left;    
}