.header{
	font-size: x-small;
	margin: 0;
}
.tableName{
	display: inline-block;
}

.table, h3 {
text-align: center;      
border-collapse: collapse;
width: 100%;
}

 table.table td, table.table th {
border: 1px solid #ddd;
padding: 8px;
width: 13%;
}

.selected {
	background-color: yellow;
}

.table tr:hover {background-color: #ddd;}

.table th, .total {
padding-top: 6px;
padding-bottom: 6px;
text-align: center;
background-color: rgb(0, 116, 163);
color: white;
}
.ancho {width: 300px;}

.ancho_cantidad {width: 70px;} 

.tot {color:red;}

.head2S {font-size: x-small; width: 30%;}

ul li {
	font-size: x-small;
}

table.staff td.firm,{
	border: 0px solid #7f8c8d;
    border-bottom: 1px solid black;
    height: 50px;
    
}

table.staff tfoot td, td.otro{
	border: 0px solid #7f8c8d;
    
}


