*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: DejaVuSansCondensed;
}

table {
	font-family: DejaVuSansCondensed;
	border-collapse: collapse;
	vertical-align: middle;
    width: 100%;
    font-size: 11px;
}

th {
	font-weight: bold; 
	vertical-align: center;
	text-align: center;
	font-size: 11px;
	padding: 3px;
	vertical-align: middle;
	background: #1976D2;
    color: #fff;
    border: 1px solid black;
}

td{
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
    padding: 4px;
    border: 1px solid black;
}

.logo_cont h2{
    margin-top: -55px;
	margin-left: 110px;
	color: #0D47A1;
}

.logo{ height: 90px; }
.PDF_header .title{ position: relative; }

.PDF_header .title h3 {
    text-align: center;
    position: relative;
}

ul{
    padding-left: 20px;
    list-style: none;
    font-size: 12px;
}

.Quotation-Note{
    border: 1px solid black;
    border-radius: 5px;
}

.Quotation-Note .title{
    margin-top: -13px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 18px;
    background: white;
    z-index: 999;
    width: 10%;
    text-align: center;
}

.Quotation-Note .result{
    width: 80%;
    margin: auto;
    text-align: center;
}

table.responsable{
    width: 50%;
    margin: auto;
}

table.responsable tr{
    border: none;
}

table.responsable tr:nth-child(1){
    border-bottom: 1px solid black;
}

table.responsable tr:nth-child(1) td{
    text-align: left;
}

table.responsable tr:nth-child(1) td p{
    text-align: left;
}
