.barraPro1 {
    width: 20%;
    height: 15%;    
    background: blue;
}

.barraPro2 {
width: 15%;
height: 10%;
background: black;
}

#nose.active {
    color: #495057;
    background-color: #fff;
    border-color: #1d2124 #1d2124 #fff;


    }