.table {

border-collapse: collapse;
width: 70%;
}

.table td, .table th {
border: 1px solid #ddd;
padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
padding-top: 6px;
padding-bottom: 6px;
text-align: center;
background-color: rgb(0, 116, 163);
color: white;
}

.back{
	background-color: rgba(255,0,0,0.2);
}

.back2{
	background-color: rgba(102,204,0,0.2);
}

.ancho {width: 300px;}

.ancho_cantidad {width: 70px;} 

#mdlComparative2, #contenido{
	height: 500px;
}

#contenido{
	padding: 130px;
}