a{text-decoration:none} 
a:hover{text-decoration: underline ; color:black;}
body {
	margin:0;
	padding:0;
	width:100%;
	color:black;
	font-family: Comic Sans MS;
	background:url(images/bg.jpg);
    
}
html {
	padding:0;
	margin:0;
    font-family: Comic Sans MS;
}
.main {
	padding:0;
	margin:0;
	background:url(images/main_bg.jpg) repeat-y center;    
}
.logo {
	float:left;
	width:70%;
	height:86px;
	padding:0;
	margin:0 auto;
}
h1 {
	margin:0;
	padding:20px 0 0 0;
	color:#636363;
	font:bold 38px/1.2em Comic Sans MS;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#636363;
	text-decoration:none;
}
h1 span {
	color: #000099;
}
h1 small {
	padding:0 10px;
	font:normal 12px/1.2em Comic Sans MS;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Comic Sans MS;
	padding:8px 0;
	margin:0;
	color:#000;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font: Comic Sans MS;
	color: black;
	background-attachment: inherit;
}
p.spec {
}
a {
	color: black;
	text-decoration:underline;
}
a.rm, a.com {
	padding:0;
	text-decoration:none;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;    
	padding:0;
}
.main_resize {
	margin:0 auto;
	width:969px;
}
.header {
	margin:0 auto;
	width:923px;
    margin-bottom: 40px;
}
.hbg {
	padding:0;
	margin:0 0 10px;
}
.menu_nav {
	margin:0 0 10px;
	padding:0;
}
.menu_nav ul {
	list-style:none;
	margin:0;
	padding:0;
	float:right;
}
.menu_nav ul li {
	margin:0;
	padding:15px 5px 15px 0;
	float:left;
	background:url(images/menu_line.jpg) repeat-x top;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:11px 25px;
	color: black;
	text-decoration:none;
	font-size:13px;
	line-height:16px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:#78bbe6;
}
.content {
	padding:0;
	margin:0 auto;
	width:923px;
}
.mainbar {
	margin:0;
	padding:0;
	float:right;
	width:638px;
}
.mainbar img {
	padding:4px;
	border:1px solid #f2f2f1;
	background:#FFF;
}
.mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.mainbar .article {
	margin:0;
	padding:10px 0 5px 15px;
}
.mainbar .article a {
	color: black;
}
.mainbar .post-data a {
	color: black;
}
.mainbar .spec a {
	padding:5px 15px;
	background:#78bbe6;
	color:#FFF;
}
.sidebar {
	padding:0;
	float:left;
	width:285px;
}
.sidebar .gadget {
	margin:0;
	padding:10px 15px 10px 0;
}
.sidebar .gadget .testi {
	padding:0 0 0 0;
}
.sidebar .gadget .title {
	text-align:right;
}
.sidebar .gadget span.q {
	text-align:right;
	font:normal 60px/12px Comic Sans MS;
	color: black;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	color: black;
	list-style:none;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:2px 0 2px 15px;
}
ul.ex_menu li {
	padding:2px 0 2px 15px;
}
ul.sb_menu li a, ul.ex_menu li a {
	display:block;
	color: black;
	text-decoration:none;
	padding:5px;
	margin-left:-15px;
	padding-left:15px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a {
	color:#FFF;
	background:#78bbe6;
}
ul.sb_menu li a:hover {
	text-decoration:none;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:10px 0;
	background:url(images/fbg_bg.jpg) repeat-y center;
}
.fbg_resize {
	margin:0 auto;
	padding:0;
	width:923px;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg p, .fbg h2 {
	color: black;
}
.fbg a {
	color: black;
}
.fbg .col {
	margin:0;
	float:left;
	background:url(images/fbg_line.gif) repeat-y right;
}
.fbg .c1 {
	padding:0 15px 0 0;
	width:270px;
}
.fbg .c2 {
	padding:0 15px;
	width:313px;
}
.fbg .c3 {
	padding:0 0 0 15px;
	width:280px;
	background:none;
}
.fbg .c1 img {
	margin:8px 16px 8px 0;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	background:url(images/main_bg.jpg) repeat-y center;
}
.footer_resize {
	margin:0 auto;
	padding:20px 0;
	width:923px;
	color: black;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color: black;
}
.footer a {
	color: black;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.search {
	float:right;
	width:250px;
	padding:25px 0;
}
.search span {
	width:235px;
	display:block;
	background:#FFF;
	height:29px;
	margin:0;
	padding:0;
	border:1px solid #e1dddd;
}
.search input#s {
	float:left;
	width:185px;
	padding:7px 0 7px 10px;
	margin:0;
	border:0;
	background:none;
	color:#afaeae;
	font:normal 12px/15px Comic Sans MS;
}
.search .btn {
	float:left;
	padding:0;
	margin:0;
	border:0;
	width:auto;
}
.pagenavi {
	clear:both;
	font:normal 11px Comic Sans MS;
	margin:0 auto;
	text-align:right;
	padding:20px 15px;
}
.pagenavi a, .pagenavi .current {
	margin-left:3px;
	padding:3px 8px;
	text-decoration:none;
	color:#939393;
	background:#f9fbfc;
	border:1px solid #d9e3cb;
}
.pagenavi a:hover, .pagenavi .current {
	background:#78bbe6;
	color:#FFF;
}
.pagenavi .pages {
	float:left;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

ul#blueMenu ul{display:none}
ul#blueMenu li:hover>*{display:block}
ul#blueMenu li:hover{position:relative;}
ul#blueMenu ul{
	position: absolute;left:-1px;top:98%;
	border-radius:10px;}
ul#blueMenu ul ul{
	position: absolute;left:98%;top:-2px;}
ul#blueMenu,ul#blueMenu ul{
	margin:0px;list-style:none;padding:0px;background-color:#000000;border-width:0px;border-style:solid;border-color:#999999;
border-radius:10px;}
ul#blueMenu {
	display:block;font-size:0;zoom:1;width:500px;height:30px; border-radius:10px;}
ul#blueMenu ul{
	width:187px;padding:0;}
ul#blueMenu li{
	display:block;zoom:1;margin:0;font-size:0;float:left;}
ul#blueMenu a:active, ul#blueMenu a:focus {outline-style:none}
ul#blueMenu a, ul#blueMenu li.dis a:hover,ul#blueMenu li.sep a:hover{
	display:block;vertical-align:middle;background-color:#0000000;border:0px solid #E6E6E6;text-align:left;text-decoration:none;padding:5px 10px;font:normal 11px Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;color: #FFFFFF;text-decoration:none;cursor:default; border-radius:10px;}
ul#blueMenu span{overflow:hidden;}
ul#blueMenu ul li {float:none;}
ul#blueMenu ul a, ul#blueMenu ul li.dis a:hover{
	text-align:left;white-space:nowrap;}
ul#blueMenu li.sep{
	text-align:left;padding:0px;line-height:0;height:100%;}
ul#blueMenu li.sep span{
	float:none;padding-right:0;width:2px;height:100%;display:inline-block;background-color:#999999;background-image:none;border-radius:10px;}
ul#blueMenu ul li.sep span{
	width:100%;height:3px;}
ul#blueMenu li:hover>a{
	background-color:#1B3962;border-color:#E6E6E6;border-style:none;font:normal 11px Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;color: #FFFFFF;text-decoration:none; border-radius:10px;}
ul#blueMenu li.dis a{color: #AAAAAA !important;}
ul#blueMenu img{
	border: none;vertical-align: middle;margin-right:10px;width:24px;height:24px; border-radius:10px;}
ul#blueMenu ul img{
	width:16px;height:16px;}
ul#blueMenu img.over{display:none}
ul#blueMenu li.dis a:hover img.over{display:none !important}
ul#blueMenu li.dis a:hover img.def {display:inline !important}
ul#blueMenu li:hover > a img.def  {display:none}
ul#blueMenu li:hover > a img.over {display:inline}
ul#blueMenu li.istylei0>a{
	height:23px;background-image:url(normal_back.png);font:normal 13px Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,sans-serif; border-radius:10px;}
ul#blueMenu li.istylei0:hover>a{
	background-image:url(hover_back.png);font:normal 13px Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,sans-serif; border-radius:10px;}
ul#blueMenu li.istylei1>a{
	height:-6px;background-color:#062540;background-image:url(red-bottom-line.gif);font:normal 1px Arial;text-decoration:none;border-radius:10px;}
ul#blueMenu li.istylei1:hover>a{
	background-color:#062540;background-image:url(red-bottom-line.gif);font:normal 1px Arial;text-decoration:none; border-radius:10px;}

.formulario
{
	center
}

.boton
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #FFF;
	background-color: #78bbe6;	
    width: 100px;
}

.boton:hover
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #78bbe6;
	background-color: #fff;	
    width: 100px;
}
.botonE
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #FFF;
	background-color: #E12424;	
    width: 100px;
}

.botonE:hover
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #E12424;
	background-color: #fff;	
    width: 100px;
}

.botonG
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #FFF;
	background-color: #339966;	
    width: 100px;
}

.botonG:hover
{
    border-radius: 10px;
	padding: 5px;
	font-family: Comic Sans MS;
	color: #339966;
	background-color: #fff;	
    width: 100px;
}

.flecha
{
	color: #78bbe6;
}

.flecha:hover
{
	color: blue;
}

.Datos
{
    font: 20px Comic Sans MS,sans-serif;
}

input:invalid {
 
border: 1px solid red;
 
}
 
/* Estilo por defecto */
 
input:valid {
 
border: 1px solid #78bbe6;
 
}

input:required:invalid {
 
border: 1px solid red;
 
}
 
input:required:valid {
 
border: 1px solid green;
 
}

textarea:invalid {
 
border: 1px solid red;
 
}
 
/* Estilo por defecto */
 
textarea:valid {
 
border: 1px solid #78bbe6;
 
}

textarea:required:invalid {
 
border: 1px solid red;
 
}
 
textarea:required:valid {
 
border: 1px solid green;
 
}

.Raiz
{
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5%;    
}

.BarraFullManager
{
    z-index:1; 
    position: fixed; 
    left: 5%; 
    border-radius: 10px; 
    border-style: groove; 
    border-color: skyblue;
    background-color: white;
    width: 15%;
    
}